.categories-container{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5px;
    grid-template-columns: repeat(3,1fr);
}
.categories-container .category-container{
    border-style: dashed;
    display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px;
   margin: 5px;
}
.categories-container .category-container .catagory-body-container{
    border-style: dotted;
   
}